/.phpunit.cache
/bootstrap/cache/*
/node_modules
/public/build
/public/hot
/public/storage
/public/images
/bootstrap/cache/services.php
# /public/images/advance
# /public/images/employee
# /public/images/expenses
# /public/images/files
# /public/images/leaves
# /public/images/sifas
# /public/images/users
/storage/*.key
/storage/payslips
/app/Http/constant.php
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.test

